.googleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
}

.googleIconWrapper {
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.googleIcon {
  width: 18px;
  height: 18px;
}

.btnText {
  font-weight: 500;
}
