.guessing-card {
  background-color: #ffffff;
  color: black;
  border: solid black 2px;
  border-radius: 10px;
  font-size: 80%;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.guessing-card-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19%;
  height: 50px;
}
.guessing-card.dontknow {
  font-size: 120%;
}
.guessing-card-wrap.dontknow {
  width: 30%;
}
.guessing-card-wrap.othercard {
  transform: scale(0.6);
  margin: 0 -20px;
  opacity: 0.5;
}
.guessing-card.inSet {
  background-color: var(--insetcolor);
  border: none;
}
.guessing-card.oddOneOut {
  background-color: var(--misfitcolor);
  border: none;
}
.shuffling .guessing-card-wrap {
  animation: shuffleAnimation 2s ease-in-out;
}
@keyframes shuffleAnimation {
  0% {
    transform: rotate(1080deg);
  }
  50% {
    transform: rotate(540deg) scale(0);
  }
  100% {
    transform: rotate(0deg);
  }
}
.current-card {
}

.guessing-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tutorial-message {
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
  padding: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: #856404;
}
.guess-buttons-wrapper {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.guess-buttons-wrapper button {
  font-size: large;
  font-weight: bold;
  padding: 15px 25px;
  margin: 20px 30px;
}

.clue-word-separator {
  height: 90px;
  width: 100%;
}
.clue-word-separator.visible {
  background-image: url("/images/tutorialArrows.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
