* {
  color: #333;
  box-sizing: border-box;
}

button {
  font-size: 16px;
  border-radius: 5px;
  background-color: #008cba;
}

input {
  background-color: #008cba;
}

.button-related {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px 0;
  border-radius: 5px;
}

.button-related {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}
.button-odd-one-out {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}
.solution-word {
  font-size: 18px;
  margin: 5px;
}
.solution-word.odd-one-out {
  font-weight: bold;
  color: #f44336;
}

#root {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  min-height: 100vh;
  width: 100%;
  margin: auto;
}
.app-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.correct {
  background-color: #d4edda;
  color: #155724;
  padding: 15px;
  border-radius: 5px;
}
.incorrect {
  background-color: #f8d7da;
  color: #721c24;
  padding: 15px;
  border-radius: 5px;
}

.clue-card {
  cursor: pointer;
  background-color: #4caf50;
  color: black;
  padding: 5px;
  border-radius: 5px;
  margin: 2px 0;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.clue-card.selected {
  background-color: #721c24;
  color: white;
}

.history-word-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #155724;
}
.history-word-container.odd-one-out {
  font-weight: bold;
  color: #f44336;
}
.history-word-container.selected-card {
  outline: solid black 2px;
}

.guess-history-entry {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.guess-history-entry.correct-guess {
  background-color: #d4edda;
}

.guess-history-entry.incorrect-guess {
  background-color: #f8d7da;
}

.rating-change {
  font-weight: bold;
}
.rating-change.positive {
  color: green;
}
.rating-change.negative {
  color: red;
}

.current-clue {
  background-color: #d5e4e9;
  border: solid black 2px;
  border-radius: 40px;
  font-size: 200%;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.solution-words-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.guessing-card {
  background-color: #ffffff;
  border: solid black 2px;
  border-radius: 10px;
  font-size: 80%;
  width: 19%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.guessing-card.dontknow {
  width: 30%;
  font-size: 120%;
}
.guessing-card.othercard {
  transform: scale(0.6);
  margin: 0 -20px;
  opacity: 0.5;
}
.guessing-card.inSet {
  background-color: #4caf50;
}
.guessing-card.oddOneOut {
  background-color: #f44336;
}
.current-card {
}

.guessing-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaderboard-table {
  width: 100%;
  border-collapse: collapse;
}
.leaderboard-table th,
.leaderboard-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
.leaderboard-table th {
  background-color: #f2f2f2;
}
