.dark-mode {
  color: #ddd;
}

button,
.button {
  background-color: #ffffffcc;
  color: #333333 !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 2px 16px 2px 2px;
  border-radius: 4px;
  border: 1px solid #ddd;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
  padding: 10px;
  width: fit-content;
}

.dark-mode button,
.dark-mode .button {
  background-color: #2c2c2ccc;
  color: #ddd !important;
  border: 1px solid #555;
}

:is(button, .button):hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #fcfcfc;
  border-color: transparent;
}
:is(button, .button):active {
  background-color: #f8f8f8;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}
.dark-mode :is(button, .button):hover {
  background-color: #3a3a3a;
  border-color: transparent;
}

button.active {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #e0e0e0;
}
.dark-mode button.active {
  background-color: #4a4a4a;
}

.button-highlight {
  font-weight: bold;
}

input {
  background-color: transparent;
  color: black;
}
.dark-mode input {
  color: white;
}

.button-related {
  background-color: var(--insetcolor);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px 0;
  border-radius: 5px;
}
.button-related:hover {
  background-color: #0f6c00;
}
.dark-mode .button-related {
  background-color: #0f6c00;
}
.dark-mode .button-related:hover {
  background-color: var(--insetcolor);
}
.dark-mode .button-odd-one-out {
  background-color: #c43e00;
}
.dark-mode .button-odd-one-out:hover {
  background-color: var(--misfitcolor);
}
.button-odd-one-out {
  background-color: var(--misfitcolor);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}
.button-odd-one-out:hover {
  background-color: #c43e00;
}
.solution-word {
  font-size: 18px;
  margin: 5px;
}
.solution-word.odd-one-out {
  font-weight: bold;
  color: var(--misfitcolor);
}

#root {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  min-height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;

  --insetcolor: #138800;
  --misfitcolor: #e54400;
}
.header {
  padding: 10px;
  height: 60px;
  background: #eee;
  display: flex;
  justify-content: space-between;
}
.dark-mode .header {
  background: #464646;
}
.dark-mode #root {
  background-color: #121212;
}
.app-container {
  max-width: 100%;
  width: 600px;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.dark-mode .app-container {
  background-color: #1e1e1e;
}
.correct {
  background-color: #d4edda99;
}
.incorrect {
  background-color: #f8d7da99;
}

.clue-card {
  cursor: pointer;
  background-color: var(--insetcolor);
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 2px 0;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.clue-card.selected {
  background-color: var(--misfitcolor);
  color: black;
}

.history-word-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #155724;
}
.history-word-container.odd-one-out {
  font-weight: bold;
  color: var(--misfitcolor);
}
.history-word-container.selected-card {
  outline: solid black 2px;
}

.guess-history-entry {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  color: black;
}
.guess-history-entry.correct-guess {
  background-color: #d4edda;
}

.guess-history-entry.incorrect-guess {
  background-color: #f8d7da;
}
.guess-buttons-wrapper {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.guess-buttons-wrapper button {
  font-size: large;
  font-weight: bold;
  padding: 15px 25px;
  margin: 20px 30px;
}

.rating-change {
  font-weight: bold;
}
.rating-change.positive {
  color: var(--insetcolor);
}
.rating-change.negative {
  color: var(--misfitcolor);
}

.current-clue {
  background-color: #d5e4e9;
  color: black;
  border: solid black 2px;
  border-radius: 40px;
  font-size: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 40px;
}

.solution-words-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.guessing-card {
  background-color: #ffffff;
  color: black;
  border: solid black 2px;
  border-radius: 10px;
  font-size: 80%;
  text-transform: uppercase;
  font-weight: bold;
  width: 19%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.guessing-card.dontknow {
  width: 30%;
  font-size: 120%;
}
.guessing-card.othercard {
  transform: scale(0.6);
  margin: 0 -20px;
  opacity: 0.5;
}
.guessing-card.inSet {
  background-color: var(--insetcolor);
  border: none;
}
.guessing-card.oddOneOut {
  background-color: var(--misfitcolor);
  border: none;
}
.current-card {
}

.guessing-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaderboard-table {
  width: 100%;
  border-collapse: collapse;
}
.leaderboard-table th,
.leaderboard-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
.leaderboard-table th {
  background-color: #f2f2f288;
}
.logo {
  width: 135px;
  height: 60px;
  background-image: url("/misfitlogo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.logo.splashscreen {
  width: 200px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
}

.tab-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.nav-button {
  border: none;
  border-bottom: 2px solid transparent;
  background: none;
  cursor: pointer;
  font-size: 30px;
}

table td {
  font-size: small;
}

.main-nav-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-around;
}
